* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.Bar {
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    background: #262526;
    color: #f5f5f5;
    display: flex;
    flex-direction: row;

    .Bar__right {
        min-width: 50vw;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;

        .Bar__hero_image {
            // opacity: .6;
            grid-column: 2 / span 2;
            grid-row: 1 / span 4;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../images/bar-section-hero.jpg');
        }

        .Bar__hero_sidekick {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
            background-image: url('../images/cocktail1.jpg');
            background-size: cover;
        }

        .Bar__card_text {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            background-color: #262526;
            color: #f5f5f5;
            min-height: 16vh;
            padding: 1rem;
            text-align: start;
            z-index: 1;

            p {
                color: #f5f5f5;
                font-family: sans-serif;
                min-height: 12vh;
                letter-spacing: 1px;
            }

            a {
                display: flex;
                justify-content: flex-end;
                color: #f5f5f5;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 12px;
                min-width: 15vw;
                padding: .5rem ; 
                opacity: .65;             
            }
        }
    }

    .Bar__left {
        min-width: 50vw;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: #262526;
        color: #f5f5f5;
        margin: 4rem;

        h1 {
            margin: 0;
            padding: 1rem;
            font-size: 52px;
            letter-spacing: 2px;
        }

        .Hours {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;

            li {
                list-style: none;
                min-height: 5vh;
                min-width: 40vw;
                letter-spacing: 1px;
                text-align: start;
                padding: .5rem 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                span {
                    padding: 0 2rem;
                    font-weight: 700;
                    font-size: 17px;
                }

                strong {
                    min-width: 5vw;
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }

}


@media only screen and (max-width: 860px) {
    .Bar {
        display: flex;
        flex-direction: column-reverse;
    }
}